.conteudo-opcoes{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .conteudo-opcoes {
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
  }
  
  .opcao-front-back{
    background-color: #43853d;
    color: #101081;
    padding: 10px;
    text-decoration: none;
    border-radius: 8%;
  }
  
  .opcao-front-back:hover{
    background-color: #101081;
    color: #43853d;
  }
